#dir path
dir_path=/ALBNAS12/Plant/Project/WORK/PBjelly/software/tar/runjelly_v1.3.1

#software path
soft_path=$dir_path/software

#hdf5 lib
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$soft_path/libhdf5

#blasr 5.3
export PATH=$soft_path/blasr5:$PATH

#minimap2
export PATH=$soft_path/minimap2:$PATH

#bedtools
export PATH=$soft_path/bedtools:$PATH

#pbjelly This is the path where you've install the suite.
export SWEETPATH=$soft_path/pbjelly_blasr5
#for python modules 
export PYTHONPATH=$PYTHONPATH:$SWEETPATH
#for executables 
export PATH=$SWEETPATH/bin/:$PATH
#utils
#export PATH=$SWEETPATH/pbsuite/utils:$PATH

#bin
export PATH=$dir_path/bin:$PATH

#networkx
export PYTHONPATH=$PYTHONPATH:$dir_path/pythonlib
